In [81]:
# Import Python libraries for data manipuation and visualization
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

# Import the Python machine learning libraries we need
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import linear_model
import statsmodels.api as sm

In [82]:
# Load the data set
dataset = pd.read_excel("data.xlsx")

In [83]:
# Inspect first few rows
dataset.head(12)

,SL,R1,R2,R3,R4,R5,R6,R7,R8,I1,...,E8,C1,C2,C3,C4,C5,C6,C7,C8,major
0,80,5,3,5,4,3,5,2,3,5,...,5,1,3,3,1,3,2,1,1,Realistic
1,162,4,5,5,5,3,5,4,3,3,...,4,3,4,4,2,4,4,2,3,Realistic
2,182,5,2,2,4,1,3,2,2,3,...,3,2,2,4,3,3,3,3,3,Realistic
3,212,4,4,2,4,4,4,5,4,4,...,3,4,4,5,3,4,5,4,4,Realistic
4,282,5,4,5,5,5,5,5,3,4,...,4,4,5,4,4,5,5,5,4,Realistic
5,318,3,3,1,5,4,5,4,4,2,...,4,1,5,2,1,1,3,2,2,Realistic
6,343,4,4,4,4,4,5,4,5,5,...,4,2,2,2,1,3,5,1,2,Realistic
7,356,5,3,1,1,1,1,3,3,5,...,5,4,3,2,3,5,5,3,3,Realistic
8,398,3,1,2,2,1,2,2,1,4,...,4,3,3,3,3,3,2,3,2,Realistic
9,422,2,4,2,5,1,4,3,2,5,...,2,1,3,2,2,2,4,1,2,Realistic
10,424,1,2,1,3,2,3,3,2,2,...,4,3,2,2,2,2,3,2,2,Realistic
11,661,5,5,3,5,2,3,3,3,4,...,4,3,5,5,4,5,4,5,2,Realistic

In [84]:
# Inspect data shape
dataset.shape

(36775, 50)

In [85]:
# Inspect descriptive stats
dataset.describe()

,SL,R1,R2,R3,R4,R5,R6,R7,R8,I1,...,E7,E8,C1,C2,C3,C4,C5,C6,C7,C8
count,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,...,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000
mean,74444.874045,2.618872,2.135228,1.769055,2.330931,1.771747,2.257865,2.038967,1.995622,3.465262,...,2.478885,2.714752,2.364432,2.422814,2.449218,2.575581,2.656179,2.738029,2.256397,2.310129
std,42099.425772,1.315058,1.222695,1.124123,1.340722,1.066608,1.268960,1.168433,1.168911,1.283806,...,1.297040,1.345290,1.268062,1.235177,1.300302,1.258761,1.377617,1.300189,1.246886,1.238774
min,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,37875.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000
50%,75044.000000,3.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,4.000000,...,2.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,2.000000
75%,110998.000000,4.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,5.000000,...,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000
max,145827.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [108]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

dataset['major1']=labelencoder.fit_transform(dataset['major'])
dataset

,SL,R1,R2,R3,R4,R5,R6,R7,R8,I1,...,C1,C2,C3,C4,C5,C6,C7,C8,major,major1
0,80,5,3,5,4,3,5,2,3,5,...,1,3,3,1,3,2,1,1,Realistic,4
1,162,4,5,5,5,3,5,4,3,3,...,3,4,4,2,4,4,2,3,Realistic,4
2,182,5,2,2,4,1,3,2,2,3,...,2,2,4,3,3,3,3,3,Realistic,4
3,212,4,4,2,4,4,4,5,4,4,...,4,4,5,3,4,5,4,4,Realistic,4
4,282,5,4,5,5,5,5,5,3,4,...,4,5,4,4,5,5,5,4,Realistic,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36770,41901,1,3,1,3,1,3,2,2,5,...,1,3,1,1,5,1,1,1,Conventional,1
36771,44036,1,2,2,2,2,2,1,2,2,...,2,2,2,2,3,2,2,2,Conventional,1
36772,88917,3,3,1,4,3,4,3,3,5,...,3,4,2,3,2,3,2,3,Conventional,1
36773,113727,5,4,2,2,2,3,2,3,4,...,2,3,2,4,5,4,2,3,Conventional,1
36774,142898,3,3,4,4,1,3,1,3,4,...,4,3,3,5,4,1,2,4,Conventional,1

In [100]:
y=dataset["major1"]
X=dataset[["R1","R2","R3","R4","R5","R6","R7","R8","I1","I2","I3","I4","I5","I6","I7","I8","A1","A2","A3","A4","A5","A6","A7","A8","S1","S2","S3","S4","S5","S6","S7","S8","E1","E2","E3","E4","E5","E6","E7","E8","C1","C2","C3","C4","C5","C6","C7","C8"
]]

In [101]:
# Split into test and training sets
test_size = 0.33
seed = 7
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=test_size, random_state=seed)

In [102]:
X_train

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,E7,E8,C1,C2,C3,C4,C5,C6,C7,C8
35048,1,1,1,2,1,1,2,1,2,2,...,4,4,3,3,3,3,2,3,2,2
9827,2,1,1,1,1,1,1,1,5,1,...,1,1,3,1,3,3,3,4,1,1
8683,3,4,3,3,2,4,2,4,5,5,...,1,2,1,1,1,1,3,1,1,1
31789,1,3,1,1,1,1,1,2,3,1,...,1,3,3,1,3,3,2,4,3,1
21479,1,1,3,1,2,3,2,2,1,1,...,4,2,3,1,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2583,1,1,3,1,1,1,1,1,3,1,...,2,1,1,1,1,1,3,1,1,1
34140,2,1,1,1,1,1,1,1,1,1,...,2,3,3,2,3,2,3,4,3,2
13927,1,3,1,4,1,2,3,3,4,5,...,1,3,1,2,3,2,3,3,1,1
919,3,5,5,3,3,4,4,2,4,4,...,5,3,4,4,4,3,4,3,3,3
10742,5,4,3,3,3,4,4,4,3,4,...,5,3,4,4,4,5,3,3,5,4

In [103]:
X_test

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,E7,E8,C1,C2,C3,C4,C5,C6,C7,C8
20360,5,4,4,4,4,2,3,1,5,5,...,3,3,5,3,4,4,4,3,4,4
14975,1,1,1,1,1,1,1,2,5,4,...,3,1,1,1,1,2,1,5,1,1
34579,2,1,2,2,1,1,1,1,2,2,...,4,3,5,3,4,3,5,4,5,3
18895,1,5,1,1,3,2,2,4,1,5,...,3,5,1,3,1,1,3,3,1,2
6940,3,5,2,5,1,4,4,2,2,3,...,1,4,5,5,5,3,4,4,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28140,5,5,3,5,3,4,5,5,5,5,...,3,3,3,5,5,5,5,5,3,5
384,2,3,4,4,4,4,3,4,4,2,...,1,4,1,4,2,3,4,4,2,3
27753,3,2,1,1,1,1,1,1,3,3,...,3,4,1,1,1,1,1,1,1,2
1826,4,4,4,4,3,3,4,2,4,4,...,2,4,4,4,4,3,5,4,3,4
9781,4,4,3,5,4,4,5,4,3,1,...,3,4,2,4,3,3,3,4,2,3

In [104]:
y_train

35048    2
9827     3
8683     3
31789    5
21479    3
        ..
2583     4
34140    2
13927    3
919      4
10742    3
Name: major1, Length: 24639, dtype: int32

In [105]:
y_test

20360    3
14975    3
34579    2
18895    3
6940     3
        ..
28140    5
384      4
27753    5
1826     4
9781     3
Name: major1, Length: 12136, dtype: int32

In [106]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 2.8944807018864744
Coefficients:
 [-0.0081436  -0.03411178  0.07341345  0.04084694  0.03112609  0.00650767
  0.0293958   0.02569972 -0.0135527  -0.01034246  0.00022732  0.03509846
  0.01015995 -0.00751629 -0.00589472  0.01161972 -0.02090737 -0.00154047
 -0.0720885  -0.02053929 -0.00173969 -0.03703538 -0.0235149  -0.03876053
  0.0458441   0.01043616  0.01301526  0.01043508  0.01393473  0.06425687
  0.03986366  0.01257193 -0.02761675  0.00340153 -0.00262979 -0.00304362
  0.02249674 -0.00984303  0.02656999  0.00321818 -0.04371095  0.00212895
 -0.00137697  0.01503636 -0.01106865  0.0159606  -0.10094472 -0.0335381 ]

In [107]:
new_R1=4
new_R2=3
new_R3=1
new_R4=2
new_R5=1
new_R6=2
new_R7=1
new_R8=2
new_I1=5
new_I2=4
new_I3=4
new_I4=4
new_I5=3
new_I6=4
new_I7=3
new_I8=2
new_A1=5
new_A2=5
new_A3=5
new_A4=5
new_A5=3
new_A6=5
new_A7=2
new_A8=4
new_S1=4
new_S2=3
new_S3=2
new_S4=5
new_S5=3
new_S6=4
new_S7=4
new_S8=2
new_E1=2
new_E2=3
new_E3=4
new_E4=2
new_E5=4
new_E6=3
new_E7=2
new_E8=2
new_C1=3
new_C2=2
new_C3=2
new_C4=2
new_C5=2
new_C6=2
new_C7=2
new_C8=1
print ('Predicted Career Path: \n', regr.predict([[new_R1,new_R2,new_R3,new_R4,new_R5,new_R6,new_R7,new_R8,new_I1,new_I2,new_I3,new_I4,new_I5,new_I6,new_I7,new_I8,new_A1,new_A2,new_A3,new_A4,new_A5,new_A6,new_A7,new_A8,new_S1,new_S2,new_S3,new_S4,new_S5,new_S6,new_S7,new_S8,new_E1,new_E2,new_E3,new_E4,new_E5,new_E6,new_E7,new_E8,new_C1,new_C2,new_C3,new_C4,new_C5,new_C6,new_C7,new_C8]]))

Predicted Career Path:
 [2.61942865]

In [109]:
# with statsmodels
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 major1   R-squared:                       0.050
Model:                            OLS   Adj. R-squared:                  0.049
Method:                 Least Squares   F-statistic:                     40.43
Date:                Fri, 31 Jul 2020   Prob (F-statistic):               0.00
Time:                        10:46:48   Log-Likelihood:                -61255.
No. Observations:               36775   AIC:                         1.226e+05
Df Residuals:                   36726   BIC:                         1.230e+05
Df Model:                          48
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.8945      0.038     75.402      0.000       2.819       2.970
R1            -0.0081      0.006     -1.294      0.196      -0.020       0.004
R2            -0.0341      0.008     -4.256      0.000      -0.050      -0.018
R3             0.0734      0.008      9.563      0.000       0.058       0.088
R4             0.0408      0.007      5.511      0.000       0.026       0.055
R5             0.0311      0.009      3.330      0.001       0.013       0.049
R6             0.0065      0.008      0.825      0.409      -0.009       0.022
R7             0.0294      0.009      3.299      0.001       0.012       0.047
R8             0.0257      0.009      2.860      0.004       0.008       0.043
I1            -0.0136      0.007     -1.993      0.046      -0.027      -0.000
I2            -0.0103      0.008     -1.348      0.178      -0.025       0.005
I3             0.0002      0.008      0.027      0.978      -0.016       0.017
I4             0.0351      0.007      5.118      0.000       0.022       0.049
I5             0.0102      0.009      1.125      0.261      -0.008       0.028
I6            -0.0075      0.008     -0.966      0.334      -0.023       0.008
I7            -0.0059      0.009     -0.680      0.496      -0.023       0.011
I8             0.0116      0.007      1.746      0.081      -0.001       0.025
A1            -0.0209      0.007     -3.102      0.002      -0.034      -0.008
A2            -0.0015      0.007     -0.224      0.823      -0.015       0.012
A3            -0.0721      0.006    -11.522      0.000      -0.084      -0.060
A4            -0.0205      0.007     -2.883      0.004      -0.035      -0.007
A5            -0.0017      0.007     -0.266      0.790      -0.015       0.011
A6            -0.0370      0.007     -5.526      0.000      -0.050      -0.024
A7            -0.0235      0.006     -4.247      0.000      -0.034      -0.013
A8            -0.0388      0.007     -5.416      0.000      -0.053      -0.025
S1             0.0458      0.007      6.803      0.000       0.033       0.059
S2             0.0104      0.007      1.529      0.126      -0.003       0.024
S3             0.0130      0.007      1.767      0.077      -0.001       0.027
S4             0.0104      0.006      1.736      0.083      -0.001       0.022
S5             0.0139      0.008      1.689      0.091      -0.002       0.030
S6             0.0643      0.007      9.445      0.000       0.051       0.078
S7             0.0399      0.007      5.613      0.000       0.026       0.054
S8             0.0126      0.007      1.867      0.062      -0.001       0.026
E1            -0.0276      0.007     -3.883      0.000      -0.042      -0.014
E2             0.0034      0.007      0.465      0.642      -0.011       0.018
E3            -0.0026      0.007     -0.371      0.711      -0.017       0.011
E4            -0.0030      0.007     -0.465      0.642      -0.016       0.010
E5             0.0225      0.007      3.344      0.001       0.009       0.036
E6            -0.0098      0.008     -1.299      0.194      -0.025       0.005
E7             0.0266      0.007      4.016      0.000       0.014       0.040
E8             0.0032      0.007      0.493      0.622      -0.010       0.016
C1            -0.0437      0.008     -5.491      0.000      -0.059      -0.028
C2             0.0021      0.008      0.280      0.780      -0.013       0.017
C3            -0.0014      0.008     -0.166      0.868      -0.018       0.015
C4             0.0150      0.008      1.835      0.066      -0.001       0.031
C5            -0.0111      0.007     -1.613      0.107      -0.025       0.002
C6             0.0160      0.007      2.287      0.022       0.002       0.030
C7            -0.1009      0.008    -12.267      0.000      -0.117      -0.085
C8            -0.0335      0.009     -3.835      0.000      -0.051      -0.016
==============================================================================
Omnibus:                     1557.097   Durbin-Watson:                   0.095
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1767.831
Skew:                          -0.517   Prob(JB):                         0.00
Kurtosis:                       3.291   Cond. No.                         114.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\ASUS\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2580: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)